<div class="row">
  <div class="col-xl-3 col-sm-12 p-2 d-flex align-items-center justify-content-center" routerLink="create">
      <div class="w3-theme-indigo jumbotron d-flex justify-content-center">
          <h4 class="m-0">CADASTRO CLIENTES</h4>
      </div>
  </div>
  <div class="col-xl-3 col-sm-12 p-2 d-flex align-items-center justify-content-center" routerLink="read">
      <div class="w3-theme-indigo jumbotron d-flex justify-content-center">
          <h4 class="m-0">CONSULTAR CLIENTES</h4>
      </div>
  </div>
  <div class="col-xl-3 col-sm-12 p-2 d-flex align-items-center justify-content-center" routerLink="update">
      <div class="w3-theme-indigo jumbotron d-flex justify-content-center">
          <h4 class="m-0" >BUSCAR CLIENTES</h4>
      </div>
  </div>
  <div class="col-xl-3 col-sm-12 p-2 d-flex align-items-center justify-content-center" routerLink="delete">
      <div class="w3-theme-indigo jumbotron d-flex justify-content-center">
          <h4 class="m-0">REMOVER CLIENTES</h4>
      </div>
  </div>
</div>

